<!DOCTYPE html>

{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block qary %}{% endblock %}

    {% if title %}
    <title> Prosocial Open Source Chatbot Framework | {{ title }} </title>
    {% else %}
    <title> Prosocial Open Source Chatbot Framework | qary </title>
    {% endif %}

    <link rel="icon" href="{% static 'sms_nudger/qary-favicons/qary-7.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sms_nudger/main.css' %}">
</head>

<body>

<header class="site-header">
    <nav class="navbar navbar-expand-* navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img
                        src="{% static 'sms_nudger/qary-logo/qary-logo-small.png' %}"
                        height="30"
                        alt="qary"
                        loading="lazy"
                />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'sms-nudger-home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'sms-nudger-about' %}">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'nudge-create' %}">New Nudge</a>
                    <a class="nav-item nav-link" href="{% url 'nudge-list' %}">Nudges</a>
                    <a class="nav-item nav-link" href="{% url 'faq-create' %}">New FAQ</a>
                    <a class="nav-item nav-link" href="{% url 'faq-list' %}">FAQs</a>
                    <a class="nav-item nav-link" href="{% url 'quizbot-upload' %}">Document Upload</a>
                    <a class="nav-item nav-link" href="{% url 'quizbot-document-list' %}">Document List</a>
                    <a class="nav-item nav-link" href="{% url 'quiz' %}">Quiz</a>
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
</main>

{% block javascript %}{% endblock %}

<!-- Bootstrap Bundle -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
