{% extends "sms_nudger/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

<!-- {% block title %}{{ section.title }}{% endblock %} -->

{% block content %}
<h1>{{ section.title }}</h1>

{% for nudge in nudge_list %}
<h2>
  <a href="{{ nudge.get_absolute_url }}">
    {{ nudge.name }}
  </a>
</h2>
<p>{{ nudge.description|truncatewords:"60" }}</p>
{% endfor %}
{% endblock content %}
