{% extends 'sms_nudger/base.html' %}

{% block content %}

<div class="container w-100">
    <ul class="list-group">
    <li class="list-group-item">
    <div class="row">
        <div class="col-4">
            <span>Document path</span>
        </div>
        <div class="col-2">
            <span>Bot name</span>
        </div>
        <div class="col-2">
            <span>Version</span>
        </div>
        <div class="col-2">
            <span>Created on</span>
        </div>
    </div>
    </li>
    </ul>
    {% for document in documents %}
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-4">
                    <span>{{ document.document }}</span>
                </div>
                <div class="col-2">
                    <span>{{ document.bot_name }}</span>
                </div>
                <div class="col-2">
                    <span>{{ document.version }}</span>
                </div>
                <div class="col-2">
                    <span>{{ document.created_on }}</span>
                </div>
                <div class="col-2">
                    <form method="POST" action="{% url 'faq-create-flow' %}" class="inline">
                        {% csrf_token %}
                        <input type="hidden" name="path_" value="{{ document.document }}">
                        <input type="hidden" name="bot_name" value="{{ document.bot_name }}">
                        <input type="hidden" name="version" value="{{ document.version }}">
                        <button type="submit" class="btn btn-primary mb-2">Create or Update</button>
                    </form>
                </div>
            </div>
        </li>
    </ul>
    {% endfor %}

    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

    {% endif %}

</div>

{% endblock %}
