{% extends "sms_nudger/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block qary %}
    <script>
        let ws_url = "{{ ws_url }}";
        let welcome_popup_on = JSON.parse('{{ welcome_popup_on|safe }}');
        let empty_message_allowed = JSON.parse('{{ empty_message_allowed }}');
        let name = "{{ name }}";
        let bot_picture = "{{ bot_picture }}";
        let chat_widget_icon = "{{ chat_widget_icon }}";
        let widget_icon = "{{ widget_icon }}";
    </script>
    <link rel='stylesheet' type="text/css" href="{% static file_css %}">
    <script defer src = "{% static file_js %}"></script>
{% endblock qary %}

{% block content %}

<h1> Mathbot Demo </h1>

{% endblock %}
