{% extends 'sms_nudger/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
  <p><a href="{% url 'quizbot-document-list' %}">Return to home</a></p>
{% endblock %}
