{% load static %}

<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'chat_async/main.css' %}">

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <title>Chat Room</title>
</head>
<body>
    <div id="chat-container">
        <div id="chat-log" cols="20"></div>
        <div id="error-area"></div>
        <div id="button-options-container">
            <form>
                <ul id="button-area" class="user-options"></ul>
            </form>
        </div>
        <div id="input-container" class="input-group mb-3">
            <input class="form-control" id="chat-message-input" type="text" placeholder="Type your message here...">
            <div class="input-group-append">
                <button class="btn btn-primary" cols="10" id="chat-message-submit" type="button"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

    {{ room_name|json_script:"room-name" }}
    <script>
        var currentState= {
            'state_name': '',
            'user_text': '',
            'context': {'lang': 'en', 'user_type': ''}
        }

        /* Form input error handling */

        const errorArea = document.querySelector('#error-area')

        /**
         * Adds an error message to #error-area when necessary
         */
        function addErrorMessage(errorMessage) {
            errorMessage = "<div class='alert alert-danger' role='alert'>" + errorMessage + "</div>"
            errorArea.insertAdjacentHTML('beforeend', errorMessage)
        }

        /**
         * Checks if the user submitted nothing in the text input field
         */
        function checkForEmptyInput(user_input){
            error = false
            errorArea.innerHTML = ""
            if (user_input === '') {
                addErrorMessage("User message is required.")
                error = true
            }
            return error
        }

        /**
         * Checks if the user entered an invalid option in the text input field
         */
        function checkForInvalidInput(data) {
            errorArea.innerHTML = ""
            options_arr = []
            for (i=0; i < currentState.triggers.length;i++) {
                options_arr.push(currentState.triggers[i].intent_text)
            }

            error = true

            const index = options_arr.findIndex(element => {
                return element.toLowerCase() === data.toLowerCase()
            })

            if (index >= 0 ) {
                error = false
            } else {
                addErrorMessage("Please select one of the options.")
            }
            return error
        }

        function normalizeMessage(message) {
            options_arr = []
            for (i=0; i < currentState.triggers.length;i++) {
                options_arr.push(currentState.triggers[i].intent_text)
            }
            const index = options_arr.findIndex(element => {
                return element.toLowerCase() === message.toLowerCase()
            })
            return options_arr[index]
        }

        /* Form submission handling */

        document.querySelector('#chat-message-input').focus();
        /**
         * Submits input on pressing enter
         */
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        const buttonArea = document.querySelector('#button-area')
        const userInput = document.querySelector('#chat-message-input')

        /**
         * On radio button click, assign button's value to text input and submit form
         */
        buttonArea.addEventListener('change', (event) => {
            userInput.value = event.target.value
            document.querySelector('#chat-message-submit').click();
        })


        /* General usability */

        // Scroll to the bottom of the page when called
        const scrollingElement = (document.scrollingElement || document.body);
        const scrollToBottom = () => {
            scrollingElement.scrollTop = scrollingElement.scrollHeight;
        }



        /* Websocket connection, sending, and state management */

        // Open a websocket connection based on roomName
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        if (window.location.protocol == 'https:') {
            wsProtocol = 'wss://'
        } else {
            wsProtocol = 'ws://'
        }
        const chatSocket = new WebSocket(
            wsProtocol
            + window.location.host
            + '/ws/chat-async/'
            + roomName
            + '/'
        );

         /**
         * Handles form submission.  Checks for input errors and, if no errors, sends data to chatSocket
         */
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message_to_check = messageInputDom.value;


            error_empty_input = checkForEmptyInput(message_to_check)
            error_invalid_input = checkForInvalidInput(message_to_check)
            message = normalizeMessage(message_to_check)

            if (error_empty_input == false  && error_invalid_input == false) {
                stateData = {
                    'state_name': currentState.state.state_name,
                    'user_text': message,
                    'context': currentState.context
                }

                chatSocket.send(JSON.stringify({
                    'message': stateData
                }));
                messageInputDom.value = '';
            }
        };


        const chatLog = document.querySelector('#chat-log')
        /**
         * Creates a div inside #chat-log with a message from the bot
         */
        function addBotTextToChatLog(message) {
            bot_text = "<div class='bot-text'>" + message + "</div>"
            chatLog.insertAdjacentHTML("beforeend", bot_text);
        }

        /**
         * Creates a div insight #chat-log with a user's selected option
         */
        function addUserTextToChatLog(message) {
            user_text = "<div class='user-text'>" + message + "</div>"
            chatLog.insertAdjacentHTML("beforeend", user_text);
        }

        /**
         * Adds trigger options as buttons in #button-area
         */
        function addUserInputOptionsToButtonArea(triggers) {
            for (let j = 0; j < triggers.length; j++) {
                val = triggers[j]['intent_text']
                button = "<li><input class='user-options' id='btn" + j + "' type='radio' name='user-option' value='" + val + "'><label for='btn" + j + "'>" + val + "</label></li>"
                buttonArea.insertAdjacentHTML("beforeend", button)
            }
        }


        /**
         * Handles receiving a message from the bot
         */
        chatSocket.onmessage = async function(e) {
            const data = JSON.parse(e.data);
            currentState = data.message

            buttonArea.innerHTML = ""

            if (data.message.bot_text) {
                addBotTextToChatLog(data.message.bot_text)
            } else if (data.message.user_text) {
                addUserTextToChatLog(data.message.user_text)
            } else if (data.message.triggers) {
                addUserInputOptionsToButtonArea(data.message.triggers)
            }

            await scrollToBottom()
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
</body>
</html>
